# Basic Python 
### 1. Introduction of Python 
### 2. Variable and data types
### 3. Operators
### 4. Data types and their in-built functions 
### 5. Control flow
### 6. File handling 
### 7. Exception handling

#### Introduction of Python

Hi Everyone,
this is Om Kant Sharma,
the topic is Introduction of Python
in this you will see - 
1. What is Python
2. History of python 
3. Feature of python
4. Company used python
5. why the python is so popular
6. application of python
7. installation of python
8. IDLE
9. Scripting Language
10. variable declaration
11. line indentations
12. strongly typed - prevent mixing operator with mismatch data types
13. swapping two no. with third variable
14. swapping two no, without third variable
15. one line swapping 
16. Comments
17. Operators
18. variable and data types
19. String, list, tuple, dictionary, set, - in built functions
20. Control flow
21. File Handling
22. Exceptional Handling

1. 
###### What is Python ?

python is a interpreted , object oriented, high level programming language with dynamic somantic. 

Interpreded - means python code will executes line by line at runtime. 

Object oriented - in python we can write a code in bojects and classes, its some techiques here- 
inheritance, incapsulation, polymorphism.

High level programming language - because its code mimic with natural language (english) so easy to write a syntax, easy to learn, easy to remember, short, understandable.

dynamic somantic - dynamic somantic means type of the variable is determine only during runtime.
-[ int a =10, just write a=10 ]

2.
###### History of Python.

                              History of Python
- Python was introduced by Guido Van Rossum in 1989.
- First version of released in 1991.
- 1n 1994 Python 1.0 released with new feature which - lambda, map, filter
- Python 2.X was released with some other feature like
- Comprehensions, garbage collection system
- Python 3.X released in 2008
- Python 3.10.4         - Release Date: March 24, 2022

Why the name Python?
It isn't the name of	dangerous snake python.  Rossum was fan of a comedy series from late  seventies. The name "Python" was adopted  from the same series "Monty Python's Flying  Circus".

##### FEATURES OF PYTHON

Readable: Python is a very readable language.

Easy to Learn: Learning python is easy as this is a expressive and high level programming  language, which means it is easy to understand the language and thus easy to learn.

Open Source: Python is a open source programming language.
Cross platform: Python is available and can run on various operating systems such as Mac,  Windows, Linux, Unix etc. 

Large standard library: Python comes with a large standard library that has some handy  codes and functions which we can use while writing code in Python.

Free: Python is free to download and use. This means you can download it for free and use  it in your application. Python is an example of a FLOSS (Free/Libre Open Source Software),  which means you can freely distribute copies of this software, read its source code and  modify it.

Supports exception handling: Python supports exception handling which means we can  write less error prone code and can test various scenarios that can cause an exception later  on.

Automatic memory management: Python supports automatic memory management  which means the memory is cleared and freed automatically. You do not have to bother  clearing/cleaning the memory.

Application of Python (used for)   -               
       
            Application                                                                                  Python Libraries   
Web Applications  -                                             Django, Flask, Pyramid, Wep2Py
Scientific Calculations -                                       SciPy, TensorFlow
Data Analysis -                                                    Pandas, NumPy
Data Visualization-                                               Matplotlib, Seaborn
Machine Learning  -                                            Scikit-Learn, Keras
Computer Vision and Image Processing            OpenCV, PyTorch,Scikit-Image
Game Development                                            Pygame, Kivy, Panda3D
Medicine and Pharmacology                              MedPy, PyGeno
Neuroscience and Psychology                           PsychoPy
Astronomy                                                          AstroPy, SunPy, SpacePy

Why Python is so Popular ? - 
Simple syntax - mimic natural language, so easy to read and understand
Versatile - used many different task like - ML, DS, Web development
Beginner friendly - popular for entry level coders
Open source - free to use and distribute, even for commercial purposes.
archive of modules and libraries - bundles of code that third - party users have created to expend python’s capabilities.

Company used python- 

Google
Google is one of the greatest examples of Python web applications that employed this language in its initial days and still uses it due to its comparatively easy maintenance and simple nature, assisting for express deployments in several areas. The company’s usage of Python extends to search engines, and the functioning of artificial intelligence(AI), Machine Learning(ML), and robotics projects.

Netflix
Netflix is a classic example of a company that chose Python programming, owing to its enormous ecosystem of tools that make their system going. The primary business of the company lies in the subscription of its streaming service.

This service supplies online streaming of television programs and films, including those that are produced in-house. Netflix had around 182 million paid subscriptions across the world as marked in April 2020

The company has one of the dynamic softwares written in Python to strengthen the safety of the structure, examine data reports, and alerts.

Netflix uses Python to support machine learning potential that scrutinizes movies, enhances streaming, and pulls out images to exhibit thumbnails. Python is exercised across the system and the most important applications of this language are:

Security: Python is optimized for risk classification, security automation, vulnerability identification, and remediation.
Operations: Netflix uses Python libraries such as SciPy, NumPy, to execute the numerical analysis.
ML: It uses Python for instructing ML models that are utilized for everything from artwork personalization to recommending algorithms.
Want to Build A Custom Web App?

Get your idea validated by professionals. Discuss unique features to add. Know the cost of development. Know the timeframe. Let’s start building.


Dropbox
Dropbox is the home for all your docs, files, photos, and videos. Have you ever given it a thought that an app like Dropbox can escalate from 2000 to 200 million users?

The entire tech stack of Dropbox was written in Python, and it started employing Go later on. The company pulled the inventor of Python, Guido van Rossum, from Google where he had been serving for years.

After joining as an engineer at Dropbox, he made it feasible to allocate datastores between members of Dropbox community. A lot of the company’s libraries are not open source, so it is difficult to state the level of Dropbox’s dependence on Python.

On the other hand, it released an API quoted in Python, and thus, we can believe that a massive amount of server side code is written in Python.

Stripe
Stripe is a Fintech start-up that facilitates businesses to allow payments over the web. This company is one of the remarkable Python web app examples that build APIs incorporated into mobile and web apps.

Stripe makes simpler the means by which online businesses handle their transactions. It provides a range of services into subscription management, invoicing, and fraud prevention for companies.

Many Fintech start-ups select Python due to its effectiveness in financial tasks, involved in Fintech products that are allied with calculations and data. The other reason could be that it is the easiest language for financial specialists to study.

Reddit
Reddit is a collection of social news, web content ranking, and conversation websites. Using Python, Reddit is ranked as the 19th most visited site across the globe, as per Alexa Internet, with approx 55% of its users from the US, 7.4% from the UK, and 5.8% from Canada, as recorded in May 2020.

Reddit is immensely inspired by Python and its enormous compilation of libraries by steadily implementing a greatly modified variant of each library adopted.

Instagram
Instagram is a photo and video-sharing social media or networking platform possessed by Facebook, Inc. It is one of the most renowned companies who use Python language in association with Django and in recent times, it has adopted Python 3.

Its ‘Stories’ feature is utilized by approx 500 million active users daily, as reported in January 2019.

The prime reason for Instagram to opt for Python is its efficiency, simplicity, and practicality. For any booming company, these specifications are exceptionally important.It is a ‘friendly’ language to engineers, which allows them to focus on vigorous features.

Instagram thought of switching to PHP, but after several considerations, they sensed that Python would serve them best. However, they resolved their confusion by adding extra AWS machines, and currently, the dynamics are affirmative.

Spotify
Spotify is one of the most renowned Python app examples that is used for examining data and backend development. This music streaming and media services provider has 286 million monthly users, including around 130 million paying subscribers, as of April 2020.

Spotify exercises Hadoop for their big data and Python package called Luigi that coordinates with Hadoop. Luigi manages how its libraries work and merge error logs to repair bugs speedily. Such a package is utilized with machine learning algorithms that maintain features like Radio, recommendations as well as discovery.

Spotify uses Python because it amplifies the speed of the development process and they invest profoundly in the advancement of the language by sponsoring several conferences.

Scripting language

Scripting languages are programming languages that  don't require an explicit compilation step.

For example, in the normal case, you have  to compile a C program before you can run it. But in the  normal case, you don't have to compile a JavaScript  program before you run it.
Scripted languages are interpreted within another  program (like JavaScript is put within HTML and then  interpreted by the browser, and in  python - jupyter, colab perform this task ).
We can embedded python in any language c,c+
+,Java,.net,PHP

                           INSTALLATION OF PYTHON

Anaconda Distribution for python - 
  - https://www.anaconda.com/products/distribution
       Download Anaconda for free :-
 - Visit the Anaconda downloads page. Go to the following link: Anaconda.com/downloads
 - Select Windows. Select Windows where the three operating systems are listed.
 - Download. Download the most recent Python 3 release. ...
 - Open and run the installer. ...
 - Open the Anaconda Prompt from the Windows start menu.
 - Online Platform for python, ( Data Science, Machine Learning )
 - Google colab notebook   -To start working with Colab you first need to log in to your google account, then go to this link https://colab.research.google.com. 
 - EXAMPLES: Contain a number of Jupyter notebooks of various examples. 
 - RECENT: Jupyter notebook you have recently worked

In [1]:
# ![image.png](attachment:image.png)

IDLE    integrated development & Learning environment (IDLE)
 An  IDLE combines a program editor and a language environment as a convenience to  the programmer. Using IDLE is not a requirement for using Python. There are  many other IDEs that can be used to write Python programs 
The Python installer for Windows contains the IDLE module by default. IDLE can be used to execute a single statement just like Python Shell and also to create (Ctrl N), modify (Ctrl S with name.py), and execute (F5) Python scripts.

Scripting language

Scripting languages are programming languages that  don't require an explicit compilation step.

For example, in the normal case, you have  to compile a C program before you can run it. But in the  normal case, you don't have to compile a JavaScript  program before you run it.
Scripted languages are interpreted within another  program (like JavaScript is put within HTML and then  interpreted by the browser, and in  python - jupyter, colab perform this task ).
We can embedded python in any language c,c+
+,Java,.net,PHP

Variable Declaration
Python variables do not need explicit declaration to reserve memory space.
 The  declaration happens automatically when you assign a value to a variable.
The equal sign (=) is used to assign values to variables.
counter = 100 # An integer assignment  
miles = 1000.0 # A floating point 
 name = "John" # A string  
print(counter)
print (miles)  print (name)

Python allows you to assign a single value to several variables  simultaneously. 
 For example:   ( comprehension method )
a = b = c = 1
a, b, c = 1, 2, "john"

Line Indentation
Indentation refers to the spaces at the beginning of a codeline.
There are no braces to indicate blocks of code for class and function  
definitions or flow control. Blocks of code are denoted by line indentation,  which is rigidly enforced.

Strongly typed that prevents  - mixing operator between  mismatched or different  data types 
>>> 1 + "1“
TypeError: unsupported operand type(s) for +: 'int' and  'str‘
>>> 1 + 1
2                                
>>> "1" + "1“
'11‘
>>> 1 + int("1")
2
>>> "1" + str(1)
'11'

          Python Comment  (#   hashtags)


COMMENT  lines started  with  a  #  (hashtag) Python will ignore them:

Comment Uses

 -  explain python code
 -  prevent execution when we are testing code

In [2]:
a = 10    # variable declaration
a

10

In [3]:
# Strongly typed - prevent mixing oprator with mismatch datatype
#a=10+'10'
#a
"""
casting with data types
casting mean converting the integer into string or string into integer, 
"""
a=int('10')+10  # casting the string "10" to integer 10 with int()
print(a)
b=str(10)+'10'  # casting the integer 10 into string '10' with  str()
b               # "10"+'10' - concatenation string ()

20

'1010'

In [4]:
# swappting two no. with third variable
a=10
b=20
c=b
b=a
a=c
print(a)
print(b)
def swappting_with_third_variable(a,b): # assign the parameters
    c=b
    b=a
    a=c
    print('a is-',a)
    print('b is-',b)                # define the functions
swappting_with_third_variable(a=10,b=20)  # calling the function with keyword args

20
10
a is- 20
b is- 10

In [5]:
swappting_with_third_variable(a=30,b=40)

a is- 40
b is- 30

In [6]:
# swapping_without_third_variable
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a,b)
def swapping_without_third_variable(a,b):         # assign the parameter
    a=a+b
    b=a-b
    a=a-b
    print('a is -',a)
    print('b is -',b)                             # define the functions 
swapping_without_third_variable(a=30,b=40)        # calling the funcion with keyword arguments

20 10
a is - 40
b is - 30

In [7]:
swapping_without_third_variable(a=40, b=60)

a is - 60
b is - 40

In [8]:
# one line swapping 
a=60
b=70
a,b=b,a                 
print('a is -',a)
print('b is -',b)

a is - 70
b is - 60

#### variable and data types

 Overview
1. keywords - reserve word used for special purpose.
eg. 35 keywords - if-elif-else, while-for, continue-break-pass, class-def,
Keywords- None, True , False are has first letter is capital, Other all in small laters

2. variable - temparay storage space like container for datatypes
2.1 multiple data type can assign to multiple variables.
2.2 single datatype can assign to multiple variables

3.variable properties
3.1- can not use spacial words, keywords as variable name
3.2- can not starts variable name with no. 
3.3- can not use space in variable name

3.4 always use upper - lower alphabets, _ (underscore) , _no 
3.5 case sansitive

4. Datatypes -  classification and categorization of knowledge items. 
data- something that has information like - image, vedio, text , recording 
4.1-number - (integer -10, float -10.0, complex - 10+10j
4.2-boolean - True, False  -use in decision making 
 Squance type data
4.3- string  - hold items in single qoute and double qoutes
a = 'hi IBM'
a="hi IBM"
          
5. data structures - store multipele elements in single variable
Tuple (1,'IBM',True), list-[1,'IBM',True] , dictionary - { 'key1':'value parirs' , 'key1':'value parirs',1:1,'company':'IBM','Bool':True }
set - { 1,'IBM',True}
 
 data structure Properites
c o i d  -     c - changable, o - ordered, i - indexed, d - duplicate allowed

Tuple     =  c - unchangable, o - ordered, i - indexed, d - duplicate allowed

List      =  c - changable, o - ordered, i - indexed, d - duplicate allowed

according - 3.7 verson 

Dictionary     =  c - changable, o - ordered, i - indexed, d - duplicate not allowed

set    =   c - changable, o - unordered, i - unindexed, d - duplicate not allowed

Literal and identifiers
a = 10 
so here a is identifiers and literals are datatype that is store in the variables

Constant variables-

In [9]:
#2. variable - temparay storage space like container for datatypes
#2.1 multiple data type can assign to multiple variables.
#2.2 single datatype can assign to multiple variables

#2.2 multiple data type can assign to multiple variables.
a,b,c,d='IBM',True,20,1.0
print(a)
print(b)
print(c)
print(d)

IBM
True
20
1.0

In [10]:
# 2.2 single datatype can assign to multiple variables
a=b=c=d=(10+10j)
print(a)
print(b)
print(c)
print(d)

(10+10j)
(10+10j)
(10+10j)
(10+10j)

In [11]:
# 3.variable properties
#3.1- can not use spacial words, keywords as variable name
#3.2- can not starts variable name with no. 
#3.3- can not use space in variable name
#
#3.4 always use upper - lower alphabets, _ (underscore) , _no 
#3.5 case sansitive

# 3.1
#%=10
#class =20
3.2
#3=10
3.3
#a b=20
3.4
A=10    # Case sensitive 
a=0      # Case sensitive 
_=2
_8=3
print('A is-',A)     # Case sensitive  A,a is different as variables
print('a is-',a)    # Case sensitive 
print('_ is-',_)
print('_8 is-',_8)

A is- 10
a is- 0
_ is- 2
_8 is- 3

In [12]:
# 4. Datatypes -  classification and categorization of knowledge items. 
# data- something that has information like - image, vedio, text , recording 
# 4.1-number - (integer -10, float -10.0, complex - 10+10j
# 4.2-boolean - True, False  -use in decision making 
#  Squance type data
# 4.3- string  - hold items in single qoute and double qoutes
# a = 'hi IBM'
# a="hi IBM"
          
# number  - int, float, complax
integer= 10
print('integer is-', integer)
float_=10.10
print('float is-', float_)
complex_=10+10j
print('complex is-', complex_)

# Boolean -True , False
bool_t=True
bool_f=False
print("These are the boolean -",bool_t,bool_f)

# strings - 
string= "Hi IBM, &%$, 987"
print("these are the string -",string)

integer is- 10
float is- 10.1
complex is- (10+10j)
These are the boolean - True False
these are the string - Hi IBM, &%$, 987

In [13]:
#  5. data structures - store multipele elements in single variable
# Tuple (1,'IBM',True), list-[1,'IBM',True] ,
# dictionary - { 'key1':'value parirs' , 'key1':'value parirs',1:1,'company':'IBM','Bool':True }
# set - { 1,'IBM',True}
tuple_= (True, "IBM", 100)
List = [ True, "IBM", 100]
dic = {'BOOL':True, str:'IBM', int:100}
set_ = {10,True,1000,10+1j}
print("this is tupe -",tuple_)
print ( 'this is list -',List)
print("this is dictionary (key : value pairs) -",dic)
print('this is set',set_)

this is tupe - (True, 'IBM', 100)
this is list - [True, 'IBM', 100]
this is dictionary (key : value pairs) - {'BOOL': True, <class 'str'>: 'IBM', <class 'int'>: 100}
this is set {1000, True, 10, (10+1j)}

In [14]:
 # coid - changable , ordered , indexed, duplicate allowed
#

In [15]:
# constant variable
import constant
constant.PI=3.14
PI=constant.PI
PI

3.14

# Globel variable - create outside of a function,
local variable-  define inside the class,
class variable and instance variable

In [16]:
# globel variable
a=10
def aa():
    print(a,'- is a globel variable here. ')
aa()

10 - is a globel variable here.

In [17]:
# local variable 
def a():
    a=("this string stored inside the local variable")
    print(a)
a()

this string stored inside the local variable

In [18]:
# instance variable 
class a:
    aa=10
    instance_variable= ('this string stored in instance variable inside class')
    print(aa,instance_variable)
    def b(self):
        self.instance_variable
        class_variable=('This string stored in class variable inside class"s method')
        print(self.instance_variable)
        print(class_variable)
        
obj=a()
obj.instance_variable
obj.aa
obj.b()

10 this string stored in instance variable inside class
this string stored in instance variable inside class
This string stored in class variable inside class"s method

## Datatypes and those Built in Functions

#### string data type and its functions

In [19]:
# string delimited in single and duble qoutes

In [20]:
# display the qoutes inside the strings 
a= 'hi "IBM"'
print(a)
a= "hi \"ibm"
print(a)

hi "IBM"
hi "ibm

In [21]:
# len(), type(), 
print(a)
print(len(a))
print(type(a))

hi "ibm
7
<class 'str'>

In [22]:
# 3 v.strip()  - remove the white space
s=('   Hello  \"students   ')
print(s.rstrip()) # remove right side white space
print(s.lstrip()) # remove left side white space
print(s.strip())  # remove both side white space(character)

   Hello  "students
Hello  "students
Hello  "students

In [23]:
# 4. New line - 
s = ('hello  \n students')
print(s)

hello
 students

In [24]:
# 5. comparing strigs (==)
a="hi"
b='hi'
c='Hi'
print(a==b)
print(b==c)

True
False

In [25]:
# 6 Repeating string  - *oprator 
a= ' ibm'
print(a*3)

 ibm ibm ibm

In [26]:
# 7.split strings - v.split(',')
a= ('hi, hello, hru')
k=a.split(",")
l=a.split('h')
k,l

(['hi', ' hello', ' hru'], ['', 'i, ', 'ello, ', 'ru'])

In [27]:
# 8.replacing strings - v.replace('e','e')
a = ('welcome ibm')
print(a)
b=a.replace('ibm','google')
print(b)

welcome ibm
welcome google

In [28]:
# 9.joining string - v1= '__'.join(v)
a='welcome ibm'
b='__'.join(a)
print(b)
c=",".join(a)
print(c)

w__e__l__c__o__m__e__ __i__b__m
w,e,l,c,o,m,e, ,i,b,m

In [29]:
# 10 v.upper(),v.lower(), v.tittle(), v.swapcase()
a= ('Hi students')
print(a)
b=a.lower()
print(b)
c=a.upper()
print(c)
d=a.swapcase()
print(d)
e=a.title()
print(e)

Hi students
hi students
HI STUDENTS
hI STUDENTS
Hi Students

In [30]:
# 11. string concatenation (link, clinch)
a= "hello " + "students"
a

'hello students'

In [31]:
# slicing 
a= ( ' hello students ')  # extract elements
print(len(a))
print(a[2:])
print(a[:8])

16
ello students
 hello s

In [32]:
# 12 reverse slicing 
print(a)
a[::-1]

 hello students

' stneduts olleh '

In [33]:
# 13 v.endswith('el'), v.find('el') - find index, v.rfind('el')- sec same ele index, a.count('e')- fre
print(a)
print(a.startswith('he'))
print(a.endswith('nts '))
print(a.find('s'))
print(a.rfind("s"))
print(a.count('e'))

 hello students
False
True
7
14
2

## Tuple 
- store multiple elements in () and separated by ,  in single variable.

In [34]:
t= ('IBM',True, 10+10j)
print(t)

('IBM', True, (10+10j))

In [35]:
t1=(0,1,2,3,4,5,6,7,8)
t2=(10,20,30)

In [36]:
# 1.max(),min(), type(), len(), sam()
print(type(t1))
print(len(t1))
print(max(t1))
print(min(t1))
print(sum(t1))

<class 'tuple'>
9
8
0
36

In [37]:
# 2. Slicing 
print(t1[2:])
print(t1[2:4])
print(t1[:7])
# reverse slicing 
print(t1[::-1])

(2, 3, 4, 5, 6, 7, 8)
(2, 3)
(0, 1, 2, 3, 4, 5, 6)
(8, 7, 6, 5, 4, 3, 2, 1, 0)

In [38]:
# 3.element in or not in 
print(8 in t1)
print(10 in t1)
print(8 not in t1)
print(10 not in t1)

True
False
False
True

In [39]:
# 4. tuple concatenation 
print(t1)
print(t2)
print(t1,t2)
ct= t1+t2
ct

(0, 1, 2, 3, 4, 5, 6, 7, 8)
(10, 20, 30)
(0, 1, 2, 3, 4, 5, 6, 7, 8) (10, 20, 30)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 20, 30)

In [40]:
# 5. repeate tupe
print(t)
print(t*4)

('IBM', True, (10+10j))
('IBM', True, (10+10j), 'IBM', True, (10+10j), 'IBM', True, (10+10j), 'IBM', True, (10+10j))

In [41]:
# 6. convet tupe into list and set
print(t)
print(type(t))
l=list(t)
print(l)
print(type(l))
s=set(t)
print(s)
print(type(s))

('IBM', True, (10+10j))
<class 'tuple'>
['IBM', True, (10+10j)]
<class 'list'>
{(10+10j), True, 'IBM'}
<class 'set'>

# List  
- its function and in-built function
- list - store multiple item in [] separated by , in single variable

In [42]:
l= ['IBM', True, 10+10j]
l1=[0,1,2,3,4,5,6,7,8]
l2=[10,20,30,40]

In [43]:
# 1.  basic functions - len(), max(), min(), type(), sum()
print(len(l1))
print(type(l1))
print(max(l1))
print(min(l1))
print(sum(l1))

9
<class 'list'>
8
0
36

In [44]:
#2. slicing 
l1=[20,33,44,55,67,75,87,99,13]
l3=[0,0.1,2,0.3,4,0.5,6,0.7,0.8]
print(len(l1))
print(len(l1))
print(l1[:8])
print(l1[3:])
print(l1[2:7])
print(l1[1:9:2])
print('# reverse slicing ')
print(l1[::-1])
print(l1[0::])

9
9
[20, 33, 44, 55, 67, 75, 87, 99]
[55, 67, 75, 87, 99, 13]
[44, 55, 67, 75, 87]
[33, 55, 75, 99]
# reverse slicing
[13, 99, 87, 75, 67, 55, 44, 33, 20]
[20, 33, 44, 55, 67, 75, 87, 99, 13]

In [45]:
#3. list concatenaion
print(l1)
print(l2)
l1l2=l1+l2
print(l1l2)

[20, 33, 44, 55, 67, 75, 87, 99, 13]
[10, 20, 30, 40]
[20, 33, 44, 55, 67, 75, 87, 99, 13, 10, 20, 30, 40]

In [46]:
# 4. Repeating list
l*3

['IBM', True, (10+10j), 'IBM', True, (10+10j), 'IBM', True, (10+10j)]

In [47]:
# 5. v.append('e')
print(l)
l.append(200)
print(l)

['IBM', True, (10+10j)]
['IBM', True, (10+10j), 200]

In [48]:
# 6. v.clear('')
cl=l
print(cl)
cl.clear()
print(cl)

['IBM', True, (10+10j), 200]
[]

In [49]:
# 7. copy()
#fprint(l)
l=['IBM',True,200]
#print(l)
copyl=l.copy()
copyl

['IBM', True, 200]

In [50]:
print(l)
al=l.append('200')
# count() -  v.count(e)
l.count(4)
l.count('200')

['IBM', True, 200]

1

In [51]:
# extend() - v0.extend(v1)
l.extend(l1)
print(l)

['IBM', True, 200, '200', 20, 33, 44, 55, 67, 75, 87, 99, 13]

In [52]:
# index() - v.index(e)
print(l1)
l1.index(55)

[20, 33, 44, 55, 67, 75, 87, 99, 13]

3

In [53]:
# insert() - v.insert(index no., item)
print(l1)
print(l2)
l3.insert(4,20)
l3

[20, 33, 44, 55, 67, 75, 87, 99, 13]
[10, 20, 30, 40]

[0, 0.1, 2, 0.3, 20, 4, 0.5, 6, 0.7, 0.8]

In [54]:
# pop() - v.pop(index no.)
print(l)
l.pop(3)

['IBM', True, 200, '200', 20, 33, 44, 55, 67, 75, 87, 99, 13]

'200'

In [55]:
# remove() - v.remove(value)
l.remove('IBM')
print(l)

[True, 200, 20, 33, 44, 55, 67, 75, 87, 99, 13]

In [56]:
# reverse() - v.reverse()
print(l)
l.reverse()

[True, 200, 20, 33, 44, 55, 67, 75, 87, 99, 13]

In [57]:
# v.sort()
l.sort()
print(l)

[True, 13, 20, 33, 44, 55, 67, 75, 87, 99, 200]

### Dictionary - 
- store multiple item in {} as key:value pairs and separated by , in single variable

In [58]:
d= {int:10, bool:True, complex:10+10j, str:'IBM'}
d1= {10:10,20:30,30:30,20:20,9:9}   # duplicate not allowed, ordered, 
print(d)
print(d1)

{<class 'int'>: 10, <class 'bool'>: True, <class 'complex'>: (10+10j), <class 'str'>: 'IBM'}
{10: 10, 20: 20, 30: 30, 9: 9}

In [59]:
# add 
d1[4]=4
print(d1)

""" get() - v.get(e) """

d1.get(4)
print(d)
d.get(complex)

print(""" Update""")

d[bool]=False
print(d)

{10: 10, 20: 20, 30: 30, 9: 9, 4: 4}
{<class 'int'>: 10, <class 'bool'>: True, <class 'complex'>: (10+10j), <class 'str'>: 'IBM'}
 Update
{<class 'int'>: 10, <class 'bool'>: False, <class 'complex'>: (10+10j), <class 'str'>: 'IBM'}

In [60]:
print(d.values())
print(d.keys())
print(d.items())  # return item in a dic as tup in list.

dict_values([10, False, (10+10j), 'IBM'])
dict_keys([<class 'int'>, <class 'bool'>, <class 'complex'>, <class 'str'>])
dict_items([(<class 'int'>, 10), (<class 'bool'>, False), (<class 'complex'>, (10+10j)), (<class 'str'>, 'IBM')])

In [61]:
'''check if key exist '''
# if key in d 
print(d)
print(complex in d)
print('bools' in d)
print(bool in d)

{<class 'int'>: 10, <class 'bool'>: False, <class 'complex'>: (10+10j), <class 'str'>: 'IBM'}
True
False
True

In [62]:
# for in v.values()
for x in d.values():
    print(x)

10
False
(10+10j)
IBM

In [63]:
# for in v.keys()
for x in d.keys():
    print(x)

<class 'int'>
<class 'bool'>
<class 'complex'>
<class 'str'>

In [64]:
# for in v.items()
for x in d.items():
    print(x)

(<class 'int'>, 10)
(<class 'bool'>, False)
(<class 'complex'>, (10+10j))
(<class 'str'>, 'IBM')

In [65]:
# for loop whole dictionary
print(d)
for x in d:
    print(x)

{<class 'int'>: 10, <class 'bool'>: False, <class 'complex'>: (10+10j), <class 'str'>: 'IBM'}
<class 'int'>
<class 'bool'>
<class 'complex'>
<class 'str'>

In [66]:
 for x in d:
        print(d[x])

10
False
(10+10j)
IBM

## changes -

In [67]:
# update
# v['key']=value
print(d)
d[4]=5
print(d)
# v.update{[4:7]}
#d.update{4:8}
d[4]=8
print(d)

{<class 'int'>: 10, <class 'bool'>: False, <class 'complex'>: (10+10j), <class 'str'>: 'IBM'}
{<class 'int'>: 10, <class 'bool'>: False, <class 'complex'>: (10+10j), <class 'str'>: 'IBM', 4: 5}
{<class 'int'>: 10, <class 'bool'>: False, <class 'complex'>: (10+10j), <class 'str'>: 'IBM', 4: 8}

In [68]:
# remove 
#v.pop(key)
d[4]=5
print(d)
d.pop(4)
print(d)

{<class 'int'>: 10, <class 'bool'>: False, <class 'complex'>: (10+10j), <class 'str'>: 'IBM', 4: 5}
{<class 'int'>: 10, <class 'bool'>: False, <class 'complex'>: (10+10j), <class 'str'>: 'IBM'}

In [69]:
#  v.clear()
clear = {12:12,13:13,14:14,15:15}
clear2=clear
print(clear)
print(clear2)

{12: 12, 13: 13, 14: 14, 15: 15}
{12: 12, 13: 13, 14: 14, 15: 15}

In [70]:
print(clear2)
clear.clear()
print(clear)

{12: 12, 13: 13, 14: 14, 15: 15}
{}

# 21-06-2022

In [71]:
print(""" Nested Dictionary""")
d={1:{
    1.1:1.1,
    1.2:1.2,
    1.3:1.3
},
   2:{
       2.1:2.1,
       2.2:2.2,
       2.3:2.3
},
   3:{
       3.1:3.1,
       3.2:3.2,
       3.3:3.3,
   }
   
  }
d

 Nested Dictionary

{1: {1.1: 1.1, 1.2: 1.2, 1.3: 1.3},
 2: {2.1: 2.1, 2.2: 2.2, 2.3: 2.3},
 3: {3.1: 3.1, 3.2: 3.2, 3.3: 3.3}}

In [72]:
A={'a':'a','b':'a','c':'a'}
B={'b':'a','b':'b','b':'c'}
nd={"A":A,
    "B":B
    }
nd

{'A': {'a': 'a', 'b': 'a', 'c': 'a'}, 'B': {'b': 'c'}}

In [73]:
s={1,2,3,4,5,6,7,8,9}
s1={10,20,30,40,50}
print(s)       
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{50, 20, 40, 10, 30}

In [74]:
print(len(s)),print(len(s1))
print(type(s)),print(type(s1))
print(max(s)),print(max(s1))
print(min(s)),print(min(s1))
sum(s),sum(s1)

9
5
<class 'set'>
<class 'set'>
9
50
1
10

(45, 150)

In [75]:
'''
( Set functions)
add(),clear(),copy()
remove(),discard(),pop()
union(), issupperset(), issubset()
difference(),intersection()
'''
print(s)
print(s1)
add_set=s.add(11)
#print(add_set)
print(s)
s0={11,22,33,12,34,22,3344,22224}
print(s0)
clear_set=s0.clear()
print(s0)
copy_set=s.copy()
print(copy_set)
pop_set=copy_set.pop()
print(pop_set)
copy_set
copy_set.discard(11)
copy_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{50, 20, 40, 10, 30}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}
{3344, 33, 34, 22224, 22, 11, 12}
set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}
1

{2, 3, 4, 5, 6, 7, 8, 9}

In [76]:
#copy_set.remove(10)
copy_set

{2, 3, 4, 5, 6, 7, 8, 9}

In [77]:
union_set=s.union(s1)  # like concate
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 20, 30, 40, 50}

In [78]:
s11={23,45,67,54,7,6}
issuperset_set=union_set.issuperset(s1)
issuperset_set1=union_set.issuperset(s11)

print(issuperset_set)
print(issuperset_set1)

True
False

In [79]:
s1
s11
issubset_set=s1.issubset(s11)
issubset_set1=s1.issubset(union_set)
print(issubset_set)
print(issubset_set1)

False
True

In [80]:
print(s1)
print(s11)
intersection_set=s1.intersection(s11)
print(intersection_set)

{50, 20, 40, 10, 30}
{67, 23, 6, 7, 54, 45}
set()

### Functon

Function- is a block of code that perform specific task, can call again and again.
 1 predefined / in-built functions -no need to define - lan(), sort(), type(), id(), bin()
 2 User defined functions - in this user fefine the function ( what ever we can put name )
  2.1 - parameterlized funcion
  2.2 - recursive function
  2.3 - lambda fuction, filter, map
     - method -define inside the class
     - function - define outside the class

- function define with def keywords
- function body starts after: colon
def function_name ():
# function name what ever you want

In [81]:
'''func wthout args'''
def say_hi():          # return func without args
    a= "HI IBM"
    return a           # define func with return
say_hi()

'HI IBM'

In [82]:
'''func with args'''
def Hi_everyone(a):         # assigning parameter 
    a= "IBM saying hello"
    print(a)                # defineing function
    
Hi_everyone('a')           # calling func with passing args

IBM saying hello

In [83]:
'''no of args'''
def sum(a,b,c):  # assign parameter
    d=a+b+c
    return d     # define func
print(sum(10,20,30)) # calling func
print(sum(1,2,3))
sum(30,40,50)

60
6

120

In [84]:
sum

In [85]:
""" keyword argument """ 
def swapping_without_third_variable(a,b):
    a=a+b
    b=a-b
    a=a-b
    print(a,b)
swapping_without_third_variable(a=40,b=50)

50 40

In [86]:
def swapping_with_third_variable(a,b):
    c=a
    a=b
    b=c
    print(a,b)
swapping_with_third_variable(a=80,b=50)

50 80

In [87]:
'''arbitrary args'''
def power_divide(*args):
    a=20*30
    b=40/20
    return a,b
power_divide()

(600, 2.0)

In [88]:
def list_(*args):
    for x in args:
        print(x)
list_(10,20,30,40,50,60)

10
20
30
40
50
60

In [89]:
def l(*args):
    print('starts with ',args)
    for x in args:
        print('next argument',x)
l('Hi','1','2','3','4','5')

starts with  ('Hi', '1', '2', '3', '4', '5')
next argument Hi
next argument 1
next argument 2
next argument 3
next argument 4
next argument 5

In [90]:
"""arbitrary keywords args (**kwargs)"""
def dic(**kwargs):
    for key,value in kwargs.items():
        print('%s:%s' % (key, value))
# Driver code
dic(a='a',b='b',c='c')

a:a
b:b
c:c

In [91]:
def tuple_dic(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)
    # we can use both args and kwargs
    # pass argument to this fuctions
tuple_dic('1','2','3',a='1',b='2',c='3')
#tuple_dic('geeks','for','geeks',first="Geeks",mid="for",last="Geeks")

args: ('1', '2', '3')
kwargs: {'a': '1', 'b': '2', 'c': '3'}

In [92]:
""" defalt argument """
def da(b,a='Om'):
    b= 'my name is-'
    print(b +' fname -' +a) 
da('a')

my name is- fname -Om

In [93]:
def defalt(a=1):
    b=10
    return a,b
defalt()
defalt(19)

(19, 10)

In [94]:
'''Lambda'''
x=lambda a:a*3
x(3)

9

In [95]:
def x (a):
    b=a*3
    print(b)
x(3)

9

In [96]:
def x():                     # func assign
    for x in range(0,5):     
        print(x)             # func loop define
x()                          # call func

0
1
2
3
4

In [97]:
# lambda with func
def x(m):
    return lambda n:n*m
obj=x(2)
print(obj(2))

4

In [98]:
# filtter-Use a filter function to exclude items in an iterable object
l=[1,2,3,4,5,6,7,8,9,10]
# lambda function retrun true for even numbers
x=filter (lambda y:(y%2==0),l)
list(x)

[2, 4, 6, 8, 10]

In [99]:
# map -Returns the specified iterator with the specified function applied to each item
l=[1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77,88]
def myfunc(a, b):
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
list(x)

['appleorange', 'bananalemon', 'cherrypineapple']

#  recursion

In [100]:
import sys

In [101]:
print(sys.getrecursionlimit())

3000

In [102]:
print(sys.setrecursionlimit(60))

None

In [103]:
print(sys.getrecursionlimit())

60

In [104]:
"""Recursion - The process in which a function calls 
itself directly 
or indirectly is called recursion 
or recursive function as it calls itself
a function calling itself again and again to compute
a value is referred to Recursive function
"""
#i=0
#def re():
#    global i
#    i+=1
#    print('hi',i)
#    re()
#re()

'Recursion - The process in which a function calls \nitself directly \nor indirectly is called recursion \nor recursive function as it calls itself\na function calling itself again and again to compute\na value is referred to Recursive function\n'

In [105]:
#def recursor():
#    print('om')
#    recursor()
#recursor()

In [106]:
# this is iterative function approch
# factorial with iterative method
def factorial(n):
    '''
    n!=n *n-1*n-2*n-3*n-4..........1
    5*4*3*2*1=120 so 5 factorial is 120
    n!=n *n-1
    '''
    fac =1
    for i in range(n):
        fac = fac * (i+1)
    return fac
#num=int(input('enter then number- '))
#print(factorial(num))
print(factorial(5))

120

In [107]:
# factorial with recursion

def factorial_recursive(n):
    if n==1:     # 
        return 1
    else:
        return n* factorial_recursive(n-1)
# recursion stack like
# 5 * factorial_recursive(4)
# 5 * 4 * fac_rec(3)
# 5 * 4 * 3 * fac_rec(2)
# 5 * 4 * 3 * 2 * fact_rec(1)
# 5 * 4 * 3 * 2 * 1 = 120
#num = int(input('enter no -'))
#print('factorial with recursive',factorial_recursive(num))
factorial_recursive(5)

120

In [108]:
'''0_1_1_2_3_5_8_13, 0(1)+1(2)=1(3),1+1=2(4),2+3=5(5),3+5=8(6),8+5=13 
came after add two no.= Fibonacci Sequence

'''
def fibonacci(n):
    if n ==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibonacci (n-1)+ fibonacci (n-2)
#num=int(input('enter no - '))
#print('fibonacci',fibonacci(num))
fibonacci(5)

5

###### Random Module- is a in- build modul of python, which is used to genrate a random words.

In [109]:
import random
l=list_squance=[1,2,3,4,5,6.7,8.8]
print('this is a list sequance-',list_squance)
print('----------------------------------')
print('random choice()each time random one item extract from sequence-',random.choice(l))
print('----------------------------------')
print('random choices()-',random.choices(l,k=5))
# random.choices(sequence, weights=None, cum_weights=None, k=1)
print('----------------------------------')
print('ransom.random()float beween 0&1-',random.random())
print('----------------------------------')
print('randint(start,end)creating random integer -',random.randint(2,8))
print('----------------------------------')
r=random.randint(2,8)
print("random number between 2 and 8 is- ", r)

this is a list sequance- [1, 2, 3, 4, 5, 6.7, 8.8]
----------------------------------
random choice()each time random one item extract from sequence- 3
----------------------------------
random choices()- [5, 2, 8.8, 5, 5]
----------------------------------
ransom.random()float beween 0&1- 0.9028093972154052
----------------------------------
randint(start,end)creating random integer - 6
----------------------------------
random number between 2 and 8 is-  3

In [110]:
random.random() # give value bitween 0zz

0.13053776971005693

# contorl flow

control flow -is a  order in program's code executes
1. condition statement - descion making
2. iterative statement - loops
3. control statement

In [111]:
# condition statement - condition is false or true on that basis  statement will exicute
# if statement - if condition true then statement execute otherwise not
a=10
if a==10:
    print('here a is equal to 10')

here a is equal to 10

In [112]:
# if- else statement - if condition true then statement execute, or false then else statement execute
a=20
if a ==30:
    print (' a is equal to 20')
else:
    print(' a is not equal to 20')

 a is not equal to 20

In [113]:
'''
if - elif - else statement- if condition true ,execute or false, then went to elif or so on,
any elif true then execute otherwise all false at last reach to else and execute.

'''
#a =str(input('enter vowel-',)) 
a='j'
if a=='a':
    print('vowel a')
elif a=='e':
    print('vowel e')
elif a=="i":
    print("vowel f")
elif a=='O':
    print("vowel o")
elif a=="u":
    print("vowel u")
else:
    print('this is not a vowel')

this is not a vowel

In [114]:
vowel=['a','e','i','o','u']
#x=input('please enter vowel', )
x='f'
if x in vowel:
    print('vowel',x)
else:
    print('this is not vowel',x)

this is not vowel f

In [115]:
# Nested if-else. if condition true then enter in nested if,ture - execute,if not the else willexecute
#a= int(input('enter value -',))
a=10
if a<30:
    if a<=20:
        print('inside nested if B')
    else:
        print('outside nested if B')
else:
    print('outside a')

inside nested if B

 iterative statements
 while and for loop

In [116]:
# while loop - execute the set of statements as long as true
#z=int(input('enter what Table you want-'))
z=5
i=1
while i < 11:
    print(z,'x',i,'=',i*z)
    i=i+1
else:
    print(z,"Table is complete till 10")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 Table is complete till 10

In [117]:
# for loop - execute the set of statements each to every element of the squence
tup=(1,2,3,4,5,11,22,33,44,55,33,44,66,22,77,11,44,55,88,99)
l=[1,2,3,4,5,6]
for x in l:
    print(x)

1
2
3
4
5
6

In [118]:
# nested loop

In [119]:
# break - terminate the for loop / while loop
for no in range (1,10):
    print(no)
    if (no == 6):
        break

1
2
3
4
5
6

In [120]:
no = 1 
while no < 10:
    print(no)
    if (no==5):
        break
    no =no+1

1
2
3
4
5

In [121]:
# continue - skip the iteration 
for no in range (1,10):
    if (no == 5):
        continue
    print(no)

1
2
3
4
6
7
8
9

In [122]:
# contine in while
i=1
while i<10:
    i=i+1
    if i==5:
        continue
    elif i==9:
        break
    print(i)

2
3
4
6
7
8

In [123]:
# pass - nothing happen when it execute
for letter in 'Python':
    if letter == 'h':
        pass
        print('this is pass block')
    print('print current letter:', letter )

print current letter: P
print current letter: y
print current letter: t
this is pass block
print current letter: h
print current letter: o
print current letter: n

Object oriented programming  - write a code in class and objects
class - blueprint of the object
object - real world entities

oops types-
1. Inheritance ( inherites the attributes of parants classes) - singel inhertance , multi level inheritance, multiple inheritance
2. Encapsulation ( make private variable and method ) - getter and setter 
3. polymophism (same method use different types)- overloading, overridding

In [124]:
# single inheritance
class aa:
    def am(self):
        print("am")
class bb(aa):
    a=10
    def bm(self):
        print('bm')
o=bb()
print(bb.a)
o.am()
o.bm()

10
am
bm

In [125]:
# multi level inheritance
class a:
    def aa(s):
        print('aa')
class b(a):
    def bb(s):
        print('bb')
class c(b):
    def cc(s):
        print('cc')
o=c()
o.aa()
o.bb()
o.cc()

aa
bb
cc

In [126]:
# multiple inheritance
class a:
    def aa(s):
        print('aa')
class b:
    def bb(s):
        print('bb')
class c(a,b):
    def cc(s):
        print('cc')
o=c()
o.aa()
o.bb()
o.cc()

aa
bb
cc

In [127]:
# incapsulation  - make private variable and method
class student:
    __name='OM Kant'             # setter   
    def __init__ (s):
        print(s.__name)
        s.info()                 # getter
    def info(s):
        print("all soft partner IBM")

o=student()

OM Kant
all soft partner IBM

In [128]:
# polymorphism - same function use different type
class w:
    def info(s,name=" "):
        print('om',name)
o=w()
o.info()
o.info("python testing")         # overloading 
class p(w):
    def info(s):
        super().info()
        print("welcome IBM")     
o=p()
o.info()                         # overriding

om
om python testing
om
welcome IBM

#### file handling

In [129]:
f=open('om.txt','w')            # create and write the file
f.write('''hi everyone, my name is om kant sharma, today i will present you 
\n intorduction of python , in this you will see \n
\n what is python
\n history of python
\n feature of python
\n why the python is so popular
\n application of python 
\n compeny used python
\n scripting language
\n installation of python
\n idle
\n variable declaration
\n line indetation 
\n strongly typed
\n swapping no. with third variable
\n swapping without third variable
\n one line swapping 
\n comments
''')

464

In [130]:
f=open('om.txt','r')
f.read()
print(f.read())

In [131]:
# over write then use append "a"
f=open('om.txt','a')
f.write('''
\n Variable and data type 
keywords
variable
variable properties
data types
data types 's properties
constant variable
identifier and literals


''')

145

In [132]:
f=open('om.txt','r')
#print(f.read())
f.read()

"hi everyone, my name is om kant sharma, today i will present you \n\n intorduction of python , in this you will see \n\n\n what is python\n\n history of python\n\n feature of python\n\n why the python is so popular\n\n application of python \n\n compeny used python\n\n scripting language\n\n installation of python\n\n idle\n\n variable declaration\n\n line indetation \n\n strongly typed\n\n swapping no. with third variable\n\n swapping without third variable\n\n one line swapping \n\n comments\n\n\n Variable and data type \nkeywords\nvariable\nvariable properties\ndata types\ndata types 's properties\nconstant variable\nidentifier and literals\n\n\n"

In [133]:
f.close()

In [134]:
import os
#os.remove( 'om.txt')
#f=open('om.txt')

#### Excption Handling

In [135]:
# exception handling 

try:
    a=10
    b=0
    a/b
except ZeroDivisionError:
    print('please do not use zero for division' )

please do not use zero for division

In [136]:
try:
    h
except NameError:
    print( 'please assign some value bitween variable')

please assign some value bitween variable

In [137]:
try:
    a=1+"1"
except TypeError:
    print(' please use same type of data type for operations ')

 please use same type of data type for operations

In [138]:
try:
   # a=int(input())
    a=1.1
except ValueError:
    print(' please enter integer (whole) no. thanks')

In [139]:
try:
    d=[1,2,3,4]
    d[5]
except IndexError:
    print( 'Please enter valid index number, thanks')

Please enter valid index number, thanks

In [140]:
try:
    d={1:1,2:2}
    d[3]
except KeyError:
    print(" please Enter valid key from dictionary, this key is not present in dictionary")

 please Enter valid key from dictionary, this key is not present in dictionary

In [141]:
try:
    import constp
except ModuleNotFoundError:
    print( ' please enter valid module name, you enter incorrect module name')

 please enter valid module name, you enter incorrect module name

In [142]:
try:
    import sklearn
    from sklearn import train_test_split
except:
    print('please enter valid function name , given name is incorect')

please enter valid function name , given name is incorect

# Basic Python done